:root {
  --color-background: #f9f4fb;
  --color-font-main: #b52184;
  --color-font-sub: #312d64;
  --color-linear-blue-top: #343193;
  --color-linear-blue-bottom: #302c63;

  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 62.5%;
}

body,
input,
textarea,
button {
  font-family: "Mulish", sans-serif;
  font-size: 3.2rem;
  background-color: var(--color-background);
  margin: auto;
  width: 100%;
  /* border: 1px solid red; */
}

body {
  width: 43rem;
}

header,
.textsLandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .img-logo {
  width: 36.4rem;
}

header .img-arrow-down {
  width: 5.9rem;
  margin: 3.5rem 0 9.3rem;
}

header h1 {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--color-font-main);
  margin-top: 1.7rem;
}

header p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-font-sub);
}

/* Main */
main {
  background: linear-gradient(
    145deg,
    var(--color-linear-blue-top) 0%,
    var(--color-linear-blue-bottom) 36%
  );
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
  padding: 5.2rem 0;
  border: 1px solid green;
}

main .card {
  padding: 2.6rem;
  background-color: var(--color-white);
  /* margin-top:  */
  margin-left: 3.9rem;
  margin-right: 3.9rem;
  border-radius: 2rem;
}

.card img {
  width: 8rem;
}

.card h2 {
  margin-top: 3.3rem;
  font-size: 3rem;
  color: var(--color-font-main);
}

.card p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 2rem;
  color: var(--color-font-sub);
}

/* Section Contact Mail */
#contact-mail {
  margin: 7rem 4rem;
  /* width: 80%; */
}

#contact-mail form {
  margin: 4.3rem 0 6.9rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

#starts {
  background-image: none;
}

#contact-mail h2 {
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--color-font-main);
}

#contact-mail input,
#contact-mail textarea,
#contact-mail button {
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid color(--color-font-sub);
  border-radius: 1.6rem;
  padding: 1.6rem;
  color: var(--color-font-sub);
  width: 100%;
}

#contact-mail input {
  padding-left: 5rem;
}

#contact-mail input::placeholder,
#contact-mail textarea::placeholder {
  color: var(--color-font-sub);
}

#contact-mail textarea {
  font-size: 1.6rem;
}

#name {
  background-image: url(assets/person.svg);
  background-repeat: no-repeat;
  background-position: 12px center;
}

#mail {
  background-image: url(assets/at.svg);
  background-repeat: no-repeat;
  background-position: 12px center;
}

#contact-mail button {
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.4rem;
  background-color: var(--color-font-sub);
  color: var(--color-white);
  align-items: flex-end;
  padding: 1rem 1.6rem;
  margin-left: 0;
  max-width: fit-content;
}

/* Footer */
footer {
  background: linear-gradient(
    145deg,
    var(--color-linear-blue-top) 0%,
    var(--color-linear-blue-bottom) 36%
  );
  display: flex;
  justify-content: center;
}

footer h2 {
  color: var(--color-white);
  padding: 3.2rem 1.6rem;
  font-weight: 600;
  font-size: 2rem;
}

/* Media Querys */
@media (width >= 430px) {
  body {
    width: 100%;
  }
}

@media (width >= 900px) {
  body {
    width: 100%;
  }

  main {
    flex-direction: row;
    /* gap: 6rem; */
    padding: 6.4rem 6rem;
  }

  main .card {
    padding: 3.2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 2rem;
  }

  aside {
    display: flex;
    flex-direction: row;
    align-items: left;
    border: 1px solid orange;
    margin: 0 auto;
  }

  aside #contact-mail {
    /* max-width: 90rem; */
    /* min-width: calc(100% - 65rem); */
    min-width: 65rem;
    align-items: end;
  }

  #starts {
    background-image: url(assets/stars.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: row-reverse;
  }

  header .img-logo {
    width: 72.4rem;
  }

  main {
    margin-top: 10.3rem;
  }

  header h1 {
    font-size: 5.8rem;
    font-weight: 900;
    color: var(--color-font-main);
    margin-top: 31.2rem;
  }

  header p {
    font-size: 3.4rem;
  }

  header .img-arrow-down {
    width: 5.9rem;
    margin: 10.9rem 0 9.3rem;
    margin-right: calc(100% - 5.8rem);
    justify-content: flex-start;
  }
}

@media (width >= 1200px) {
}

/* header,
main,
section,
footer {
  display: none;
} */
